@import '@styles';

.gradients-page {
  @include content;

  .header {
    $self: '.header';

    @apply
      flex items-center flex-col;

    * {
      @apply text-center;
    }

    &__heading-1 {
      @include heading-1;
    }

    &__heading-2 {
      @include heading-2;

      @apply relative;
    }

    &__paragraph {
      @apply
        text-gray-font my-10
        text-lg
        md:text-xl;

      > span {
        @apply inline-block;
      }
    }
  }

  .gradients-list {
    @apply
      flex flex-col gap-y-5
      sm:grid sm:grid-cols-2 sm:gap-x-5
      md:grid-cols-3 md:gap-6;
  }
}