@import "@styles";

.gradients-page {
  @apply pt-10 pb-40;

  @include content;

  .header {
    @apply flex items-center flex-col;

    * {
      @apply text-center;
    }

    &__heading-1 {
      @include heading-1;
    }

    &__heading-2 {
      @include heading-2;

      @apply relative;
    }

    &__paragraph {
      @apply mt-10 mb-5
        text-gray-font text-lg
        md:text-xl;

      > span {
        @apply inline-block;
      }
    }
  }

  .form {
    @apply w-full flex flex-col my-6 gap-1;

    &__input {
      @apply mt-6 p-2
        border border-gray-draw-3 rounded-md text-center
        w-full
        xs:w-3/4
        xs:mx-auto
        sm:w-2/3
        md:w-1/2;

      &:focus {
        @apply outline-none border-black;
      }
    }

    &__tags {
      @apply flex flex-wrap gap-1 justify-center;
    }
  }

  .gradients-list {
    @apply flex flex-col gap-y-5
      sm:grid sm:grid-cols-2 sm:gap-x-5
      md:grid-cols-3 md:gap-6;
  }
}
