@import '@styles';

.gradients-page {
  @include content;

  .header {
    $self: '.header';

    @apply
      flex items-center flex-col
      mb-20
      ;

    // text-transparent text-8xl bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600"

    * {
      @apply text-center;
    }

    &__heading-1 {
      @apply
        text-7xl font-bold font-satoshi;
    }

    &__heading-2 {
      @apply
        text-4xl font-bold font-satoshi mb-3
        relative;
    }

    &__paragraph {
      @apply
        text-xl text-gray-font;

      > span {
        @apply inline-block;
      }

      // #{ $self }__text-artists,
      // #{ $self }__text-designers,
      // #{ $self }__text-developers {
      //   @apply text-xl text-cyan inline-block;
      // }
    }
  }

  .gradients-list {
    @apply
      flex flex-col gap-x-5 gap-y-2
      sm:grid sm:grid-cols-2
      md:grid-cols-3 md:gap-x-6
      hoverable:md:gap-x-12;
  }
}

.uline {
  @apply
    w-full content-[''] absolute left-0
    -bottom-[2px] h-[5px]
    bg-gradient-to-r from-cyan via-magenta to-yellow;
}
