@import "@styles";

.gradients-page {
  @apply pt-10 pb-40;

  @include content;

  .header {
    $self: ".header";

    @apply flex items-center flex-col;

    * {
      @apply text-center;
    }

    &__heading-1 {
      @include heading-1;
    }

    &__heading-2 {
      @include heading-2;

      @apply relative;
    }

    &__paragraph {
      @apply my-10
        text-gray-font text-lg
        md:text-xl;

      > span {
        @apply inline-block;
      }
    }
  }

  .form {
    $self: ".form";

    @apply w-full flex flex-col;

    #{ $self }__input {
      @apply my-1
        w-full
        xs:w-3/4
        xs:mx-auto
        sm:w-2/3
        md:w-1/2;
    }

    #{ $self }__tags {
      @apply flex flex-wrap gap-1 my-1 justify-center;
    }
  }

  .gradients-list {
    @apply flex flex-col gap-y-5
      sm:grid sm:grid-cols-2 sm:gap-x-5
      md:grid-cols-3 md:gap-6;
  }
}
