@import "@styles";

.home-page {
  .hero-section {
    $self: ".hero-section";

    @apply h-screen relative;

    #{ $self }__header {
      @apply absolute top-[10%] w-full;

      #{ $self }__heading {
        @apply mx-auto w-fit
          flex flex-col items-center
          select-none
          font-epilogue font-bold
          text-5xl
          xs:text-6xl
          sm:text-7xl
          md:text-8xl;

        #{ $self }__strong {
          @apply hidden;

          &--underlined {
            @apply relative;
          }
        }

        #{ $self }__text-animated {
          @apply flex;
        }

        // #{ $self }__dot {
        //   @apply hidden
        //     sm:block;
        // }
      }
    }

    #{ $self }__hero-image {
      @apply absolute 
      -translate-x-1/2
      w-[200%]
      h-full
      top-1/3
      sm:w-full sm:translate-x-0
      -translate-y-1/3 
      -z-10;

      // img {
      //   @apply top-0;
      // }
    }

    // #{ $self }__hero-image-wrapper {
    //   @apply w-3/4
    //     mx-auto
    //     relative
    //     bottom-12
    //     -z-50
    //     max-w-2xl
    //     box-content
    //     xs:w-5/6
    //     sm:bottom-28
    //     md:pr-48;
    // }
  }

  .call-to-action {
    $self: ".call-to-action";

    @apply flex
      w-full
      mx-auto
      flex-col
      items-center
      absolute
      cursor-pointer
      bottom-20
      sm:bottom-24;

    #{ $self }__label {
      @apply mb-2
        font-bold
        text-sm
        sm:text-base;
    }

    #{ $self }__icon {
      @apply animate-bounce
        w-5
        sm:w-6;
    }
  }

  .tools-section {
    @apply w-full
      bg-gray-draw-3
      py-12;

    &__heading {
      @include heading-3;

      @apply mx-auto w-fit mb-8 relative;
    }

    .banner-actions {
      $self: ".banner-actions";

      @include content;

      @apply grid
        container
        gap-6
        justify-items-center
        sm:w-[500px]
        sm:gap-8
        md:container
        md:grid-cols-2
        md:gap-12;

      #{ $self }__card {
        $self: ".banner-actions__card";

        @apply w-full;
      }
    }
  }
}
