@import '@styles';

.home-page {
  @include content;

  .header {
    $self: '.header';

    @apply flex justify-center;

    #{ $self }__heading {
      @include heading-2;

      @apply
        flex flex-col
        xs:flex-row;

      #{ $self }__text-underlined {
        @apply relative mx-auto;
      }

      #{ $self }__space {
        @apply
          hidden
          xs:inline-block;
      }
    }
  }
}

.test {
  @apply text-4xl w-fit h-fit;
}