@import '@styles';

.home-page {
  .hero-section {
    $self: '.hero-section';

    @apply relative;

    #{ $self }__header {
      // @apply w-full;

      #{ $self }__heading {
        @apply
          mx-auto w-fit
          flex flex-col items-center
          font-satoshi font-bold
          text-5xl
          xs:text-6xl
          sm:items-end
          sm:mr-auto
          sm:pl-40
          sm:text-7xl;

        #{ $self }__strong {
          @apply
            hidden;

          &--underlined {
            @apply relative;
          }
        }

        #{ $self }__text-animated {
          @apply flex;
        }

        #{ $self }__dot {
          @apply
            hidden
            sm:block;
        }
      }
    }

    #{ $self }__hero-image-wrapper {
      @apply
        w-3/4
        mx-auto
        relative
        bottom-8
        -z-50
        max-w-2xl
        box-content
        xs:w-5/6
        sm:bottom-28
        md:pr-40;
    }
  }

  .call-to-action {
    $self: '.call-to-action';

    @apply
      flex
      flex-col
      items-center
      relative
      bottom-16
      sm:bottom-40;

    #{ $self }__label {
      @apply
        mb-2
        text-sm
        sm:text-base;
    }

    #{ $self }__icon {
      @apply
        animate-bounce
        w-4
        sm:w-5;
    }
  }

  .actions {
    $self: '.actions';

    @include content;

    @apply
      w-full
      my-20
      grid
      container
      gap-5
      justify-items-center
      md:grid-cols-2
      md:gap-6;

    #{ $self }__action {
      @apply w-full;
    }
  }
}