@import "@styles";

.gradient-pid {
  $self: &;

  @include content;

  .header {
    $self: ".header";

    @apply w-full
      flex justify-center;

    &__heading {
      @include heading-3;

      @apply relative w-fit;
    }
  }

  .gradient {
    @apply w-full aspect-square
      mt-4 mb-2
      border border-black/5 rounded-lg
      xs:aspect-auto xs:h-[360px];
  }

  .buttons {
    @apply flex justify-between;

    &__left,
    &__right {
      @apply flex
        gap-1
        sm:gap-2;
    }
  }

  .colors-list {
    $self: ".colors-list";

    @apply w-full
      my-10
      grid justify-items-center
      sm:w-[560px] sm:mx-auto;

    &__item {
      @apply w-full
        cursor-pointer
        grid justify-items-center;

      #{ $self }__color {
        // `border` => 1px
        // `rounded-lg` => 0.5rem
        clip-path: inset(1px round 0.5rem 0.5rem 0.5rem 0.5rem);

        @apply w-full h-10
          border border-black/5
          shadow-inner
          xs:h-14 xs:w-[360px] xs:mx-auto;
      }

      #{ $self }__arrow {
        @apply w-5 h-8;
      }
    }
  }

  .code-snippets {
    @apply w-full
      my-12
      grid justify-items-center gap-6
      sm:max-w-[700px] sm:mx-auto;
  }

  .tags {
    @apply w-full
      flex flex-wrap justify-center
      gap-1
      xs:gap-2
      md:gap-3;

    &__color-tags,
    &__hash-tags {
      @apply w-full
        flex justify-center
        gap-1
        xs:gap-2
        md:gap-3;
    }
  }
}
