@import '@styles';

.gradient-id {
  $self: &;
  
  @include content;

  .header {
    $self: '.header';

    @apply
      w-full
      flex justify-center;

    &__heading {
      @include heading-3;

      @apply relative w-fit;
    }
  }

  .gradient {
    @apply
      w-full aspect-square
      mt-4 mb-2;
  }

  .buttons {
    @apply flex justify-between;
  }

  .colors-list {
    $self: '.colors-list';

    @apply
      w-full
      grid justify-items-center
      mt-10 mb-10;

    &__item {
      @apply w-full grid justify-items-center;

      #{ $self }__color {
        @apply w-full h-10;
      }
  
      #{ $self }__arrow {
        @apply w-5 h-8;
      }
    }
  }


}