@import '@/styles';

.header {
  $self: &;

  @apply bg-white w-full shadow-sm;

  &__top {
    @include content-container;

    @apply flex justify-between items-center h-14;

    #{ $self }__title {
      @apply flex items-center h-8 ml-4;
  
      #{ $self }__logo {
        @apply w-8 h-8 -scale-x-100;
      }
  
      #{ $self }__heading {
        @apply font-mono text-2xl ml-1;
      }
    }
  
    #{ $self }__burger {
      @apply
        w-8 mr-4
        sm:hidden;
    }
  }

  &__bottom {
    @include content-container;

    @apply
      bg-white w-full shadow-sm pb-3
      sm:hidden;
  }

  &__nav {
    @apply w-full;

    &--desktop {
      @apply
        hidden
        sm:mr-8 sm:p-0 sm:h-fit sm:flex sm:justify-end sm:w-fit;
    }

    #{ $self }__item {
      @apply
        h-12 mr-8 grid items-center text-right
        sm:inline-block sm:m-0 sm:content-center sm:h-fit sm:my-auto sm:ml-12 sm:first:ml-0;
    }
  }
}