@import '@/styles';

.header {
  $self: &;

  @apply bg-white w-full h-14 shadow-sm;

  &__top {
    @apply flex justify-between items-center h-full;

    #{ $self }__title {
      @apply flex items-center h-8 ml-8;
  
      #{ $self }__logo {
        @apply w-8 h-8 -scale-x-100;
      }
  
      #{ $self }__heading {
        @apply font-mono text-2xl ml-1;
      }
    }
  
    #{ $self }__burger {
      @apply w-8 mr-8 md:hidden;
    }
  }

  &__nav {
    @apply
      w-full bg-white pb-3 shadow-sm
      sm:p-0 sm:mr-8 sm:h-fit sm:flex sm:justify-end sm:w-fit;

    &--desktop {
      @apply hidden md:block;
    }

    #{ $self }__item {
      @apply
        h-12 mr-8 grid items-center text-right
        sm:inline-block sm:m-0 sm:content-center sm:h-fit sm:my-auto sm:ml-12;
    }
  }
}

.test {
  @apply bg-black;
}