@mixin content {
  @apply max-w-7xl
    mx-auto
    px-5
    md:px-6;
}

@mixin heading-1 {
  @apply font-bold font-satoshi
    text-7xl
    xs:text-8xl
    sm:text-[7rem]
    md:text-9xl;
}

@mixin heading-2 {
  @apply font-bold font-satoshi
    text-4xl
    sm:text-5xl
    md:text-6xl;
}

@mixin heading-3 {
  @apply font-bold font-satoshi
    text-3xl
    sm:text-4xl
    md:text-5xl;
}
