.button {
  @apply
    w-fit h-5
    px-1 py-1 box-content
    flex items-center gap-1
    border border-gray-draw-3 rounded-lg
    text-xs
    hover:bg-gray-draw-1 duration-100
    xs:text-sm xs:px-2
    md:text-base;

  &__icon {
    @apply h-[0.9rem] xs:h-5;
  }
}