.container {
  animation: pulse 3s linear infinite;

  @apply w-auto text-right sm:w-96 md:w-[500px];

  &:after {
    content: "";
    animation: toggle-text 9s linear infinite;
  }
}

@keyframes toggle-text {
  0% {
    content: "your work";
  }
  33% {
    content: "with ease";
  }
  66% {
    content: "for free";
  }
  100% {
    content: "your work";
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
