.text-animated {
  @apply relative
    w-full h-full;

  &__text {
    @apply whitespace-nowrap
      break-words;
  }

  &__block {
    @apply absolute
      w-full
      bg-white;

    animation-name: roll;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    @keyframes roll {
      0% {
        bottom: -3rem;
        height: 0%;
      }
      8%,
      12% {
        bottom: -3rem;
        height: calc(100% + 3rem);
      }
      20%,
      100% {
        top: 0;
        height: 0%;
      }
    }
  }
}
