.text-animated {
  @apply relative text-5xl w-[500px] h-[100px];
  
  // &__space-filler {
  //   @apply inline-block bg-gray-draw-3 transition-height duration-1000;
  //   overflow: hidden;
  // }

  // &__label {
  //   @apply absolute right-0;
  // }
}

.block {
  @apply
    absolute
    bg-white w-full
    ;

  animation: eh 4s infinite;
  animation-timing-function: linear;

  @keyframes eh {
    0% {
      bottom: 0;
      height: 0%;
    }
    10% {
      bottom: 0;
      height: 100%;
    }
    20% {
      top: 0;
      height: 0%;
    }
    100% {
      top: 0;
      height: 0%;
    }
  }
}

.text {
  @apply
    absolute;
  line-height: 4rem;
}