@import "@styles";

.header {
  $self: &;

  @apply w-full
    shadow-sm
    select-none
    sticky top-0 z-50
    bg-white;

  &__top {
    @include content;

    @apply flex justify-between items-center 
      h-14
      sm:h-16;
      // bg-white/90 backdrop-blur-md

    #{ $self }__title {
      @apply h-8
        flex items-center
        cursor-pointer
        xs:ml-4;

      #{ $self }__logo {
        @apply w-6
          h-[1.6rem]
          flex items-center
          sm:h-[1.85rem]
          sm:w-7;
      }

      #{ $self }__heading {
        @apply ml-1
          font-semibold
          tracking-tighter
          font-twcen
          text-xl
          sm:text-2xl;
      }

      #{ $self }__subtitle {
        @apply font-thin
          font-twcen
          text-xl
          sm:text-2xl;
      }
    }

    #{ $self }__burger {
      @apply w-8
        xs:mr-4
        md:hidden;
    }
  }

  &__bottom {
    @include content;

    @apply bg-white
      shadow-sm
      w-full
      pb-3
      absolute
      opacity-100
      visible
      max-h-[300px]
      md:hidden;
      // bg-white/90 backdrop-blur-md

    transition: visibility 0s linear 0s, max-height 0.1s ease-out,
      opacity 0.15s ease-in;

    &--closed {
      @apply opacity-0 max-h-[0px] invisible;

      transition: visibility 0s linear 0.1s, max-height 0.15s ease-in,
        opacity 0.1s ease-in;
    }
  }

  .nav {
    @apply w-full;

    &--desktop {
      @apply hidden
        md:mr-8 
        md:p-0 
        md:h-fit 
        md:justify-end 
        md:w-fit
        md:flex;
    }

    &__item {
      @apply h-12
        grid items-center text-right
        text-base
        font-bold
        cursor-pointer
        xs:mr-4
        md:inline-block 
        md:m-0 
        md:content-center
        md:h-fit 
        md:my-auto 
        md:ml-12 
        md:first:ml-0;

      &--inactive {
        @apply text-gray-font 
          cursor-not-allowed
          line-through;
      }
    }
  }
}
