@import "@styles";

.header {
  $self: &;

  @apply w-full
    select-none
    sticky top-0
    z-50
    duration-200
    bg-white/90
    backdrop-blur-md;

  &--invisible {
    @apply bg-transparent backdrop-blur-none duration-200;

    #{ $self }__top {
      @apply opacity-0 duration-200;
    }
  }

  // @@@ TODO: Terrible workaround. Remove the wrapper.
  &__logo-wrapper {
    @include content;

    @apply relative top-0;

    #{ $self }__logo {
      @apply absolute ml-px
        cursor-pointer
        duration-200
        aspect-square
        h-12
        mx-auto
        md:h-14;
    }
  }

  &__top {
    @include content;

    @apply flex duration-200
      bg-transparent
      justify-between
      items-center
      h-12
      md:h-14;

    #{ $self }__title {
      @apply h-full
        flex
        items-center;

      #{ $self }__subtitle {
        @apply h-full aspect-square
          ml-14
          px-[2px]
          pt-[3px]
          leading-[0.765rem]
          bg-black
          flex items-start
          rounded-bl-sm rounded-br-xl
          font-inter
          font-semibold
          tracking-widest
          text-[0.725rem]
          text-gray-draw-1
          cursor-pointer
          break-all
          duration-200
          md:ml-16
          md:text-[0.825rem]
          md:leading-[0.89rem];
      }
    }

    #{ $self }__burger {
      @apply w-6
        md:w-7
        md:hidden;
    }
  }

  &__bottom {
    @include content;

    @apply w-full
      pb-3
      absolute
      opacity-100
      max-h-[calc(10vh_*_6)]
      bg-white/90
      backdrop-blur-md
      visible
      md:hidden;

    transition: visibility 0s linear 0s, max-height 0.1s ease-out,
      opacity 0.15s ease-in;

    &--closed {
      @apply opacity-0 max-h-[0px] invisible;

      transition: visibility 0s linear 0.1s, max-height 0.15s ease-in,
        opacity 0.1s ease-in;
    }
  }

  .nav {
    @apply w-full;

    &--desktop {
      @apply hidden
        md:mr-8 
        md:p-0 
        md:h-fit 
        md:justify-end 
        md:w-fit
        md:flex;
    }

    // @@@ TODO: Tailwind's `divide` for some reason does not work.
    &__item {
      @apply h-[10vh]
        grid items-center text-right
        text-base
        font-bold
        cursor-pointer
        xs:mr-4
        border-b border-gray-draw-5 last:border-none
        md:border-none
        md:inline-block 
        md:m-0 
        md:content-center
        md:h-fit 
        md:my-auto 
        md:ml-12 
        md:first:ml-0;

      &--inactive {
        @apply text-gray-font 
          cursor-not-allowed
          line-through;
      }
    }
  }
}
