.tag {
  $self: &;

  @apply
    border border-gray-draw-3 rounded-md
    flex justify-center
    bg-black
    py-1 px-2;

  // &__color-probe {
  //   @apply rounded-full w-1/3 h-1/3 bg-black;
  // }

  &__label {
    @apply
      text-white
      text-xs
      xs:text-sm
      md:text-base;
    
    #{ $self }__hash-symbol {
      @apply mr-[1px] text-gray-font;
    }
  }
}