.tag {
  $self: &;

  @apply
    border border-gray-draw-3 rounded-md
    flex justify-center
    py-1 px-2
    text-xs
    cursor-pointer
    hover:border-black/50 duration-200
    xs:text-sm
    md:text-base;

  &__hash-symbol {
    @apply mr-[1px] text-gray-font;
  }
}