.card {
  $self: &;

  @apply relative;

  
  &__colors {
    @apply absolute top-0 flex w-full;
    
    #{ $self }__color {
      @apply h-10 w-full;
    }
  }
  
  &__gradient {
    @apply
    w-full h-32
    border border-gray-bg-3 rounded-lg
    md:h-36;
  }
  
  &:hover &__desc {
    @apply hoverable:opacity-100;
  }
  
  &__desc {
    @apply
      text-sm h-10
      flex justify-between items-center
      hoverable:opacity-0 hoverable:transition-opacity hoverable:duration-100;
    

    #{ $self }__like-button {
      @apply
        w-12 px-2 py-1 box-content
        flex items-center gap-1
        border border-gray-bg-3 rounded-lg
        hover:bg-gray-bg-1 cursor-pointer;
    }

    #{ $self }__title {
      @apply
      px-2 py-1 box-content
      border border-gray-bg-3 rounded-lg
      hover:bg-gray-bg-1 cursor-pointer;
    }
  }
}