@import '@/styles';

.card {
  $self: &;

  &__gradient {
    @apply
      w-full h-32 border border-gray-bg-3 rounded-lg
      md:h-36;
  }

  &__desc {
    @apply flex justify-between items-center text-sm h-10;

    #{ $self }__like-button {
      @apply
        w-12 px-2 py-1 box-content
        flex items-center gap-1
        border border-gray-bg-3 rounded-lg
        hover:bg-gray-bg-1 cursor-pointer;
    }

    #{ $self }__title {
      @apply
      px-2 py-1 box-content
      border border-gray-bg-3 rounded-lg
      hover:bg-gray-bg-1 cursor-pointer;
    }
  }
}