.footer {
  $self: &;

  @apply w-full
    mt-auto
    text-white
    bg-black
    flex justify-center items-center
    h-40
    md:h-52;

  &__author {
    @apply p-6
      flex items-center justify-center
      text-xs;

    #{ $self }__heart {
      @apply h-3
        mx-1
        xs:h-4
        sm:h-[1.15rem] sm:mx-1
        scale-90;
    }
  }
}
