.card {
  $self: &;

  @apply h-40
    relative
    rounded-lg
    overflow-hidden;

  &__colors {
    // `border` => 1px
    // `rounded-lg` => 0.5rem
    clip-path: inset(1px round 0.5rem 0.5rem 0 0);

    @apply w-full
      flex
      absolute top-0
      z-20
      h-[25%] opacity-0
      transition-height-opacity duration-100;

    #{ $self }__color {
      @apply w-full h-full
        cursor-copy
        transition-width duration-100;

      &:hover {
        @apply w-[150%]
          transition-width duration-100;
      }
    }
  }

  &:hover &__colors {
    @apply h-14
      opacity-100
      border border-black/5 rounded-lg
      md:h-16;
  }

  &__gradient {
    @apply w-full h-[100%]
      absolute top-0
      cursor-pointer
      border border-black/5 rounded-lg
      overflow-hidden
      shadow-inner
      touch:h-[75%]
      hoverable:h-full
      hoverable:transition-height
      hoverable:duration-150
      hoverable:z-10;
  }

  &:hover &__gradient {
    @apply hoverable:h-[75%]
      transition-height
      duration-100;
  }

  &__desc {
    @apply w-full h-[25%]
      absolute bottom-0
      flex justify-between items-end
      text-xs
      xs:text-sm;

    #{ $self }__like-button {
      @apply w-[3.25rem]
        px-2 py-1
        box-content
        flex items-center gap-1
        border border-gray-draw-3 rounded-lg
        hover:bg-gray-draw-1;
    }

    #{ $self }__title {
      @apply px-2 py-1
        box-content
        border border-gray-draw-3 rounded-lg
        hover:bg-gray-draw-1;
    }
  }
}
