.call-to-action-banner {
  $self: &;

  @apply w-full h-full
    p-4
    rounded-md
    cursor-pointer
    aspect-video
    flex flex-col justify-center items-center
    sm:p-6
    md:p-4;

  &__header {
    #{ $self }__heading {
      @apply font-satoshi
        text-center
        font-bold
        text-4xl
        sm:text-5xl;
    }
  }

  &__desc {
    @apply max-w-[75%]
      text-black
      font-semibold
      text-center
      text-base
      sm:text-lg
      md:text-xl;
  }
}

.active {
  @apply grayscale hover:grayscale-0 duration-200;
}

.inactive {
  @apply cursor-not-allowed bg-gray-draw-3 opacity-50 grayscale;
}

// @@@ TODO: This could be done better.
.yellow {
  @apply bg-yellow/70 saturate-150;
}

.magenta {
  @apply bg-magenta/70 saturate-150;
}

.cyan {
  @apply bg-cyan/70 saturate-150;
}
