.call-to-action-banner {
  $self: &;

  @apply w-full h-full
    rounded-md
    cursor-pointer
    aspect-video
    flex flex-col justify-center
    overflow-hidden;

  &__header {
    @apply w-full h-full
      flex 
      flex-col
      justify-center
      items-center
      gap-1
      duration-200;

    &--active {
      @apply duration-200;

      &:hover {
        @apply hover:scale-110 duration-200;
      }
    }

    &--inactive {
      @apply cursor-not-allowed bg-gray-draw-3;
    }

    #{ $self }__heading {
      @apply duration-200
          font-satoshi
          text-center
          font-bold
          text-3xl
          sm:text-4xl;
    }

    #{ $self }__desc {
      @apply duration-200
        max-w-[75%]
        text-black
        font-normal
        text-center
        text-base
        sm:text-lg
        md:text-xl;
    }
  }
}

// @@@ TODO: This could be done better.
.yellow {
  @apply bg-yellow/70 saturate-150;
}

.magenta {
  @apply bg-magenta/70 saturate-150;
}

.cyan {
  @apply bg-cyan/70 saturate-150;
}
