@import "@styles";

.gradient-pid {
  $self: &;

  @apply pt-10 pb-24;

  @include content;

  .header {
    $self: ".header";

    @apply w-full
      relative;

    &__return {
      @apply absolute 
        p-2
        flex items-center
        h-[2.5rem] aspect-square
        cursor-pointer;
    }

    &__heading {
      @include heading-3;

      @apply relative w-fit mx-auto;
    }
  }

  .gradient {
    @apply w-full aspect-square
      mt-4 mb-2
      border border-black/5 rounded-lg
      xs:aspect-auto xs:h-[360px];
  }

  .buttons {
    @apply flex justify-between;

    &__left,
    &__right {
      @apply flex
        duration-200
        flex-wrap
        gap-1
        sm:gap-2;
    }

    &__right {
      @apply justify-end;
    }
  }

  .colors-list {
    $self: ".colors-list";

    @apply w-full
      my-10
      grid justify-items-center
      sm:w-[560px]
      sm:mx-auto;

    &__item {
      @apply w-full
        grid justify-items-center;

      #{ $self }__color {
        // `border` => 1px
        // `rounded-lg` => 0.5rem
        clip-path: inset(1px round 0.5rem 0.5rem 0.5rem 0.5rem);

        @apply w-full h-10 relative
          border border-black/5
          shadow-inner
          duration-200
          xs:h-14
          xs:w-[360px]
          xs:mx-auto;

        #{ $self }__hex {
          @apply px-4 py-2
            box-content
            select-none
            cursor-copy;
        }

        #{ $self }__pane {
          @apply absolute
            h-8
            box-content
            duration-200
            top-1/2
            -translate-y-1/2
            right-1
            xs:right-3
            sm:right-2;

          #{ $self }__icon {
            @apply inline-block
              relative
              box-content
              w-5
              px-2
              h-full
              cursor-pointer
              duration-200
              sm:mx-1;

            input {
              @include cleanup;

              @apply opacity-0
                cursor-pointer
                w-full
                h-full
                box-content
                absolute top-1/2 left-1/2
                -translate-x-1/2 -translate-y-1/2;
            }
          }
        }
      }
    }

    #{ $self }__arrow {
      @apply w-6 h-8
        px-2
        box-content;
    }
  }

  .code-snippets {
    @apply w-full
      my-12
      grid justify-items-center gap-6
      sm:max-w-[850px] sm:mx-auto;
  }

  .tags {
    @apply w-full
      flex flex-wrap justify-center
      gap-1
      xs:gap-2
      md:gap-3;

    &__color-tags,
    &__hash-tags {
      @apply w-full
        flex justify-center
        gap-1
        xs:gap-2
        md:gap-3;
    }
  }
}
